.contact{
    background-color: var(--icons-color);
    width: fit-content;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.contact:hover{
    background-color: rgb(44, 120, 148);
}