.view{
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.view span:last-child{
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.view:hover span:last-of-type{
    transform: translatex(10px);
    -webkit-transform: translatex(10px);
    -moz-transform: translatex(10px);
    -ms-transform: translatex(10px);
    -o-transform: translatex(10px);
} 
.view span{
    color: var(--icons-color);
}

.view:hover{
    opacity: .8;
}