nav{
  color: var(--main-color);
  position: fixed;
  width: 100%;
  z-index: 9;
  top: 0;
} 
@media (max-width:767px){
nav{
  padding: 12px 20px;
}
}
  nav img{
  margin-left: -5px;
  width: 180px;
}

@media (max-width:767px){
  nav img{
  width: 160px;
}
}
.ul>li, .ul>a li {
  padding: 20px 12px 25px;
  font-weight: 500; 
  font-size: 19px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  position: relative;
}
@media (max-width:767px){
  .ul{
    display: none;
  }
}
@media (max-width:950px){
  .ul>li, .ul>a li{
    font-size: 18px;
  }
}
.ul>li:hover, .ul>a li:hover{
  color:var(--hover-color);
}
.ul>li span{
  display: inline-block;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.ul>li:hover span {
  color: var(--hover-color);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.ul>li span{
  font-size: 12px;
  color: #7a7a7ab4;
}
@media (max-width:1100px){
  .phone{
    display: none;
  }
}
.shadow{
  background-color: #fff;
  box-shadow: 0px 2px 30px 5px rgba(0, 0, 0, 0.083);
} 
.searc-page{
  background-color: #ffffffeb;
}
.icon-search:hover{
  opacity: .6;
}
.login{
  background-color: var(--hover-color);
}
.login:hover{ 
  background-color: var(--Shover-color);
}
.login span {
  display: inline-block;
  color: white;
}
@media (max-width:950px){
  .login{
    display: none;
  }
}
.login:hover span:last-of-type{
  animation:  moveing ease infinite .8s; 
  -webkit-animation:  moveing ease infinite .8s;
}
@keyframes moveing {
  0%,100%{
    transform: translatex(0);
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -ms-transform: translatex(0);
    -o-transform: translatex(0);
}
  50%{
    transform: translatex(8px);
    -webkit-transform: translatex(8px);
    -moz-transform: translatex(8px);
    -ms-transform: translatex(8px);
    -o-transform: translatex(8px);
}
}
.search{
  color: var(--icons-color);
}
@media (max-width:1100px){
  .search{
    margin-right: 0;
  }
}
.ul2{
  visibility: hidden;
  top: 80px;
}
.ul>li:hover .ul2{
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -webkit-transition: 1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  visibility:visible;
  top: 69px;
}
.ul2 li{
  color: #787c80;
  position: relative;
  overflow: hidden;
  padding: 10px 15px 5px;
}
.ul2 li::before{
  content: "";
  position: absolute;
  height: 1px;
  background-color: var(--main-color);
  width: 100%;
  left: -100%;
  bottom: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.ul2 li:hover{
  color: var(--main-color);
}
.ul2 li:hover::before{
  left: 0;
}
.list{
  display: none;
}
@media (max-width:767px){
  .list{
  display: block;
  padding: 10px;
  padding-right: 0;
}
}
.list-page{
  background-color:#171a1e ;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 11;
  right: -100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  opacity: 0;
  display: none;
}
@media (max-width:767px){
  .list-page{
  display: flex;
  }
}
.list-page .up{
  position: absolute;
  top: 50%;
  transform: translatey(-60%);
  -webkit-transform: translatey(-60%);
  -moz-transform: translatey(-60%);
  -ms-transform: translatey(-60%);
  -o-transform: translatey(-60%);
}
.list-page.movr-list{
  opacity: 1;
  right: 0 !important;
}
.ul-phone>a li,.ul-list a li{
  border-bottom: solid 1px rgba(151, 151, 151, 0.36);
  cursor: pointer;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 17px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  position: relative;
}
.ul-list a li{
  color: #979797;
}
.ul-list a li:hover{
  color: rgb(255, 255, 255);
}
.ul-phone>a li:hover{
  color:var(--main-color);
}
.up{
  width: 80%;
}
.ul-phone>a li span{
  position: absolute;
  font-size: 12px;
  left: 50px;
  top: 50%;
  transform: translatey(-50%);
  -webkit-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  -o-transform: translatey(-50%);
  color: #979797;
}
.ul-phone>li:nth-of-type(3) span{
  left: 70px;
}
.ul-list{
  position: absolute;
  z-index: 9;
  margin-left: 20px;
  width: 80%;
  display: none;
}
.ul-phone>a li.show-smole-list ul{
  bottom: -320%;
  display: block;
}
.ul-phone>a li.show-smole-list span,.ul-phone>li.show-smole-list2 span{
  top: 15px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  color: var(--hover-color);
}
.ul-phone>li.show-smole-list{
  margin-bottom: 180px;
}
.mopile-logo{
  margin-bottom: -10px;
  width: 200px;
}
.mpoile-login{
  display: flex;
  margin-left: 0;
}
.on{
  color: var(--hover-color);
}

.phone span span{
  color: var(--icons-color);
}

.cancil{
  background-color: var(--main-color);
}
.cancil:hover{
  background-color: red;
}

@media (max-width:767px){
  .input-search{
    width: 90% !important;
  }
}


.log{
  background-color: var(--main-color);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.log:hover{
  background-color: rgba(46, 102, 170, 0.994);
}
.log2{
  background-color: var(--hover-color);
}

.form-log{
  width: 400px;
  padding :40px 0;
}

.form-log .input{
  width: 80% !important;
}
.form-log input:not(:last-of-type){
  background-color: white;
}
.form-log .span {
  width: 80%;
}
.form-log .span span {
  width: 100%;
}

.on{
  color: var(--hover-color);
}
.on2{
  color: var(--main-color);
}
